@each $color, $value in $main-colors {
  .alert-#{$color} {
    display: flex;
    align-items: center;
    @include alert-mixin;
    background-color: lighten($value, 0%);
    border: $value;

    & p {
      display: inline-block;
      margin: 0;
    }
  }
  @if index($color-text-invert, $color) {
    .alert-#{$color} {
      color: black;
    }
  }
}

[class*="alert-"] {

  .close-btn {
    @include btn-reset;
    margin-left: auto;
    color: white;
  }

  .alert-icon {
    margin-right: 14px;
  }
}
