.fade-in {
  position: relative;
  animation: fade-in-left 500ms $ease-swing;
}
.fade-in-left {
  position: relative;
  animation: fade-in-left 500ms $ease-swing;
}
.fade-in-bot {
  position: relative;
  animation: fade-in-bottom 500ms $ease-swing;
}
.fade-in-right {
  position: relative;
  animation: fade-in-right 500ms $ease-swing;
}
.fade-in-top {
  position: relative;
  animation: fade-in-top 500ms $ease-swing;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@each $transition, $value in $transitions {
  .trans-#{$transition} {
    transition: $value;
  }

  @each $ease, $evalue in $eases {
    .trans-#{$transition}-#{$ease} {
      transition: $value $ease;
    }
  }
}
