.badge {
  @include box-full-border;
  @include font-content;
  font-weight: 900;
  padding: 2px 7px;
  font-size: 12px;
  text-transform: uppercase;
}

@each $color, $hex in $main-colors {
  .badge-#{$color} {
    background-color: rgba($hex, 0.2);
    color: darken($hex, 10%);
  }
}
