@each $color, $hex in $colors-map {
  .bg-#{$color} {
    background-color: $hex !important;
  }
}

@each $item, $gradient in $gradient-map {
  .bg-#{$item}-grad {
    background: linear-gradient(45deg, $gradient) !important;
  }
}

$bg-shadow-angles: (
  "top",
  "bottom"
);

@each $angle in $bg-shadow-angles {
  .bg-shadow-#{$angle} {
    background: linear-gradient(to #{$angle}, rgba(0, 0, 0, 0.5), white);
  }
}
