// Default Buttons

@each $class, $value in $colors-map {
  .btn {
    &-outline-#{$class} {
      @include font-heading;
      @include mx-btn($value);
      background-color: transparent;
      color: $value;
      border-color: $value;

      &:hover {
        color: white;
        background-color: darken($value, $color-set-hover-intensity);
        border-color: darken($value, $color-set-hover-intensity);
      }
      &:active {
        background-color: darken($value, $color-set-click-intensity);
        border-color: darken($value, $color-set-hover-intensity);
        color: white;
      }
      &:focus {
        box-shadow: 0 0 0 3px rgba($value, 0.5);
      }
    }

    &-link-#{$class} {
      @include font-heading;
      @include mx-btn($value);
      font-size: 16px;
      background-color: transparent;
      color: $value;
      border-color: transparent;
      &:hover {
        color: darken($value, $color-set-hover-intensity);
      }
      &:active {
        color: darken($value, $color-set-click-intensity);
      }
      &:focus {
        box-shadow: 0 0 0 0px rgba($value, 0.5);
      }
    }

    &-#{$class} {
      @include font-heading;
      @include mx-btn($value);
      background-color: $value;
      &:hover {
        background-color: darken($value, $color-set-hover-intensity);
      }
      &:active {
        background-color: darken($value, $color-set-click-intensity);
      }
      &:focus {
        box-shadow: 0 0 0 3px rgba($value, 0.5);
      }

      &.btn-text {
        background-color: $white;
        border: $white;
        color: $value;
        transition: 200ms;
        bottom: 0;
        @include shadow-small;

        &:hover, &:active {
          bottom: 3px;
          @include shadow-small-float;
        }

        &:focus {
        @include shadow;
        }
      }

      @if ifMap($bright-colors, $class) {
        &.btn-soft {
          background-color: lighten($value, 30%);
          border: lighten($value, 40%);
          color: darken($value, 10%);

          &:hover {
            color: white;
            background-color: darken($value, $color-set-hover-intensity);
            border-color: darken($value, $color-set-hover-intensity);
          }
          &:active {
            background-color: darken($value, $color-set-click-intensity);
            border-color: darken($value, $color-set-hover-intensity);
            color: white;
          }
          &:focus {
            box-shadow: 0 0 0 3px rgba($value, 0.5);
          }
        }
      } @else if ifMap($ultra-bright-colors, $class) {
        &.btn-soft {
          @if $class == 'neutral' {
            background-color: lighten($value, 1%);
          } @else {
            background-color: lighten($value, 9%);
          }
          border: none;
          color: darken($value, 10%);

          &:hover {
            color: white;
            background-color: darken($value, $color-set-hover-intensity);
            border-color: darken($value, $color-set-hover-intensity);
          }
          &:active {
            background-color: darken($value, $color-set-click-intensity);
            border-color: darken($value, $color-set-hover-intensity);
            color: white;
          }
          &:focus {
            box-shadow: 0 0 0 3px rgba($value, 0.5);
          }
        }
      } @else {
        &.btn-soft {
          background-color: lighten($value, 40%);
          border: lighten($value, 10%);
          color: darken($value, 10%);

          &:hover {
            color: white;
            background-color: darken($value, $color-set-hover-intensity);
            border-color: darken($value, $color-set-hover-intensity);
          }
          &:active {
            background-color: darken($value, $color-set-click-intensity);
            border-color: darken($value, $color-set-hover-intensity);
            color: white;
          }
          &:focus {
            box-shadow: 0 0 0 3px rgba($value, 0.5);
          }
        }
      }
    }

  }

  // Color Invert check
  @if index($color-text-invert, $class) {
    .btn-#{$class}, .btn-outline-#{$class}:hover {
      color: black;
    }
  }
}

.btn-bar-group {
  display: flex;
  z-index: 10;
  padding: 4px 0;
  button {
    position: relative;
    margin: 0;
    border-radius: 0;
    z-index: 1;

    &:hover, &:active, &:focus {
      z-index: 2;
    }
  }
  button:first-child {
    border-radius: $btn-border-radius 0 0 $btn-border-radius;
  }
  button:last-child {
    border-radius: 0 $btn-border-radius $btn-border-radius 0;
  }
  .btn-round:first-child {
    border-radius: 100px 0 0 100px;
  }
  .btn-round:last-child {
    border-radius: 0 100px 100px 0;
  }
  .btn-square:first-child {
    border-radius: 0 0 0 0;
  }
  .btn-square:last-child {
    border-radius: 0 0 0 0;
  }
}

.btn-no-highlight {
  @include shadow-none;
  &:focus {
    @include shadow-none;
  }
}

// Button Variations

.btn-square {
  @include box-none-border;
}

.btn-round {
  @include box-full-border;
}

// Button sizes

.btn-sm {
  padding: 5px 14px;
  font-size: 13px;
}

.btn-lg {
  padding: 15px 24px;
  font-size: 19px;
}

.btn-wide {
  min-width: 10em;
}

// Button Effects

.btn-float {
  transition: 200ms;
  bottom: 0;
  &:hover, &:active, &:focus {
    bottom: 3px;
    @include shadow-small-float;
  }
}

// Button Specials

.btn-app {
  display: inline-block;
  min-height: 4em;

  .btn-content {
    width: 14em;
    text-align: left;
    display: flex;
    align-items: center;

    .icon {
      flex-basis: 32px;
      width: 32px;
      margin-right: 20px;
    }
    .sub-heading {
      display: inline-block;
      width: calc(100% - 32px - 12px);
      font-size: 12px;
    }
    .heading {
      line-height: 1.2em;
      display: inline-block;
      width: calc(100% - 32px - 12px);
      @include font-weight-bold;
      font-size: 18px;
    }
  }
}
