// Main Buttons

$primary: $blue;
$secondary: $grey-4;
$success: $green;
$error: $red;
$warning: $orange;
$info: $cyan;
$light: $grey-1;
$dark: $grey-8;

$buttons-map: ();
$buttons-map: (
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "error": $error,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark
  )
);

$buttons-text-invert: (
  "warning",
  "light"
);

// Default Buttons

@each $class, $value in $buttons-map {
  .btn {
    &-outline-#{$class} {
      @include mx-btn($value);
      background-color: transparent;
      color: $value;
      border-color: $value;

      &:hover {
        color: white;
        background-color: darken($value, $color-set-hover-intensity);
      }
      &:active {
        background-color: darken($value, $color-set-click-intensity);
      }
      &:focus {
        box-shadow: 0 0 0 3px rgba($value, 0.5);
      }
    }

    &-#{$class} {
      @include mx-btn($value);
      background-color: $value;
      &:hover {
        background-color: darken($value, $color-set-hover-intensity);
      }
      &:active {
        background-color: darken($value, $color-set-click-intensity);
      }
      &:focus {
        box-shadow: 0 0 0 3px rgba($value, 0.5);
      }
    }

  }

  // Color Invert check
  @if index($buttons-text-invert, $class) {
    .btn-#{$class}, .btn-outline-#{$class}:hover {
      color: black;
    }
  }
}
