.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    padding: 4px 0;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    transition: 200ms;
    min-width: 12rem;
    max-width: 20rem;
    background-color: $white;
    box-shadow: 2px 4px 10px 1px $shadow;
    pointer-events: none;
    opacity: 0;
    white-space: nowrap;
    @include box-medium-border;

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 100%;
      left: 20px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      transform: rotate(-45deg) translateY(1rem);
      @include box-medium-border;
      background: #fff;
      box-shadow: 4px -4px 10px -5px $shadow;
    }

    &:hover {
      pointer-events: auto;
      opacity: 1;
    }

    & a {
      transition: 100ms;
      display: block;
      clear: both;
      padding: .25rem 1.5rem;
      text-align: inherit;
      white-space: nowrap;
      color: #212529;
      border: 0;
      background-color: transparent;

      &:hover {
        background-color: $grey-1;
      }
    }
  }
  .dropdown-item {
    @include mx-btn($shadow);
    border: none;
    background-color: transparent;
    color: $text-lightdark;
    margin: 0;
    padding: 17px 0.2em;

    &:hover + .dropdown-content {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
