.f-icon {
  position: relative;
}

@for $value from 1 through 4 {
  .f-stroke-#{$value} {
    stroke-width: $value;
  }
}

.f-realign {
top: .20em; //realignment as icons are slightly up
}

.f-small {
  width: 18px;
  height: 18px;
}
