.f-icon {
  position: relative;
}

@for $value from 1 through 4 {
  .f-stroke-#{$value} {
    stroke-width: $value;
  }
}

@each $color, $value in $colors-map {
  .f-fill-#{$color}, .svg-fill-#{$color} {
    fill: $value !important;
  }
}

.f-realign {
top: .20em; //realignment as icons are slightly up
}

.f-small, .f-sm {
  width: 18px;
  height: 18px;
}

.f-medium, .f-md {
  width: 24px;
  height: 24px;
}

.f-large, .f-lg {
  width: 32px;
  height: 32px;
}
