.form-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box {
  transition: 200ms box-shadow;
  border: none;
  outline: none;
  padding: 8px 15px;
  font-size: 16px;
  @include box-medium-border;
  box-shadow: 0 2px 6px 0 $shadow;
  color: $text-lightdark;
  box-sizing: border-box;
  margin: 5px 0;

  &::placeholder {
  color: $text-light;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 $shadow;
  }

  &:focus {
    box-shadow: 0 4px 10px 0 $shadow;
  }
}

$input-sizes: (
  "sm": 140px,
  "md": 210px,
  "lg": 280px,
  "xlg": 320px,
  "half": 49%,
  "full": 100%
);

@each $size, $value in $input-sizes {
  .input-size-#{$size} {
    width: $value;
  }
}

// Tap Switch

.droplet {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  box-shadow: 0 4px 10px 0 $shadow;
  margin: 5px 0;
  border-radius: 200px;

  & input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-1;
    transition: 300ms $ease-in;
    @include box-full-border;

    &::before {
      @include box-full-border;
    }
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    transition: 300ms $ease-in;
  }

  .icon {
    position: absolute;
    left: 8px;
    top: 8px;
    transition: 300ms $ease-in;
  }

  & input:checked + .slider {
    background-color: $grey-4;

    .icon {
      transform: translateX(100%);
      left: 16px;
    }
  }

  & input:focus + .slider {
    box-shadow: 0 0 1px $grey-4;
  }

  & input:checked + .slider::before {
    transform: translateX(100%);
  }
}

@each $color, $hex in $colors-map {
  .droplet-#{$color} {
    & input:checked + .slider {
      background-color: $hex;
    }

    & input:focus + .slider {
      box-shadow: 0 0 1px $hex;
    }
  }
}
