.input-box {
  transition: 200ms box-shadow;
  border: none;
  outline: none;
  padding: 8px 15px;
  @include box-medium-border;
  box-shadow: 0 2px 6px 0 $shadow;
  color: $text-lightdark;
  box-sizing: border-box;

  &::placeholder {
  color: $text-light;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 $shadow;
  }

  &:focus {
    box-shadow: 0 4px 10px 0 $shadow;
  }
}

$input-sizes: (
  "sm": 150px,
  "md": 225px,
  "lg": 300px,
  "xlg": 350px,
  "half": 50%,
  "full": 100%
);

@each $size, $value in $input-sizes {
  .input-size-#{$size} {
    width: $value;
  }
}
