.container {
  margin: auto;
  position: relative;
  width: $page-full;
}

.container-rs {
  margin: auto;
  position: relative;
  width: $rs-page-full;
}

@mixin containers($container-padding, $page-full, $rs-page-full) {
  .container {
    padding: 0 $container-padding;
    width: $page-full;
  }

  .container-rs {
    width: $rs-page-full;
  }
}
@mixin columns {
  @for $col from 1 through 12 {
    &-#{$col} {
      flex: 0 0 8.3333% * $col !important;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  [class*="col-"] {
    flex: 0 0 100%;
  }

  & > .col {
    &-lg,
    &-md,
    &-sm,
    &-xlg,
    &-xsm {
      flex: 1 0 auto;
      float: left;
      padding: 0;
    }
  }
}
@media screen and (max-width: $xlg-breakpoint) {
  @include containers($container-padding-xlg, $page-xlg, $rs-page-xlg);
}
@media screen and (max-width: $xlg-breakpoint) {
  @include containers($container-padding-lg, $page-lg, $rs-page-lg);
}
@media screen and (max-width: $lg-breakpoint) {
  @include containers($container-padding-md, $page-md, $rs-page-md);
}
@media screen and (min-width: calc(#{$md-breakpoint} + 1px)) {
  .row {
    & > .col {
      &-sm {
        // Small column start
        @include columns;
      }
      // Small column end
    }
  }
}
@media screen and (max-width: $sm-breakpoint) {
  .row {
    [class*="col-sm"] {
      flex: 0 0 100%;
    }
  }
}
@media screen and (min-width: calc(#{$lg-breakpoint} + 1px)) {
  .row {
    & > .col {
      &-md {
        // Medium column start
        @include columns;
      }
      // Medium column end
    }
  }
}
@media screen and (max-width: $md-breakpoint) {
  .row {
    [class*="col-md"] {
      flex: 0 0 100%;
    }
  }
}
@media screen and (min-width: calc(#{$xlg-breakpoint} + 1px)) {
  .row {
    & > .col {
      &-lg {
        // Large column start
        @include columns;
      }
      // Large column end
    }
  }
}
@media screen and (max-width: $lg-breakpoint) {
  .row {
    [class*="col-lg"] {
      flex: 0 0 100%;
    }
  }
}
@media screen and (min-width: calc($source-breakpoint + 1px)) {
  .row {
    & > .col {
      &-xlg {
        // Extra large column start
        @include columns;
      }
      // Extra large column end
    }
  }
}
@media screen and (max-width: $xlg-breakpoint) {
  .row {
    [class*="col-xlg"] {
      flex: 0 0 100%;
    }
  }
}
@media screen and (max-width: $md-breakpoint) {
  @include containers($container-padding-sm, $page-sm, $rs-page-sm);
}
@media screen and (max-width: $sm-breakpoint) {
  @include containers($container-padding-xsm, $page-xsm, $rs-page-xsm);
}
@media screen and (min-width: calc($sm-breakpoint + 1px)) {
  .row {
    & > .col {
      &-xsm {
        // Extra small column start
        @include columns;
      }
      // Extra small column end
    }
  }
}
