@mixin columns {
  @for $col from 1 through 12 {
    &-#{$col} {
      flex-basis: 8.3333% * $col !important;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  & > .col {
    @include columns;
    &,
    &-lg,
    &-md,
    &-sm,
    &-xlg,
    &-xxlg,
    &-xsm {
      flex: 1 0 0px;
      float: left;
      padding: 0;
    }
  }
}

@each $breakpoint, $value in $breakpoints {
  $breakpoint-value: $value + 1px;
  @include breakpoint-out-raw($breakpoint-value) {
    .row {
      & > .col {
        &-#{$breakpoint} {
          @include columns;
        }
      }
    }
  }

  @include breakpoint-in($breakpoint) {
    .row {
      [class*="col-#{$breakpoint}"] {
        flex: 0 0 100%;
      }
    }
  }

}
