@each $magin-side, $m-value in $margin-sides {
  @each $margin, $margin-value in $margins {
    @if $magin-side == "x" {
      .m#{$magin-side}-#{$margin} {
        margin: 0 $margin-value;
      }
    } @else if $magin-side == "y" {
      .m#{$magin-side}-#{$margin} {
        margin: $margin-value 0;
      }
    } @else {
      .m#{$magin-side}-#{$margin} {
        margin-#{$m-value}: $margin-value;
      }
    }
  }
}

@each $breakpoint, $break-value in $breakpoints {
  @include breakpoint-in($breakpoint) {
    @each $magin-side, $m-value in $margin-sides {
      @each $margin, $margin-value in $margins {
        @if $magin-side == "x" {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin: 0 $margin-value;
          }
        } @else if $magin-side == "y" {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin: $margin-value 0;
          }
        } @else {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin-#{$m-value}: $margin-value;
          }
        }
      }
    }
  }
}

$widths: (
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%
);

@each $width, $percent in $widths {
  .w-#{$width} {
    width: $percent;
  }
}

$pull-modes: (
  "right",
  "left"
);

@each $mode in $pull-modes {
  .pull-#{$mode} {
    float: $mode;
  }
}

// Containers

.container {
  margin: auto;
  position: relative;
  width: $page-full;
}

.container-rs {
  margin: auto;
  position: relative;
  width: $rs-page-full;
}

@mixin containers($container-padding, $page-full, $rs-page-full) {
  .container {
    padding: 0 $container-padding;
    width: $page-full;
  }

  .container-rs {
    width: $rs-page-full;
  }
}

@include breakpoint-in('xxlg') {
  @include containers($container-padding-xlg, $page-xlg, $rs-page-xlg);
}
@include breakpoint-in('xlg') {
  @include containers($container-padding-lg, $page-lg, $rs-page-lg);
}
@include breakpoint-in('lg') {
  @include containers($container-padding-md, $page-md, $rs-page-md);
}
@include breakpoint-in('md') {
  @include containers($container-padding-sm, $page-sm, $rs-page-sm);
}
@include breakpoint-in('sm') {
  @include containers($container-padding-xsm, $page-xsm, $rs-page-xsm);
}
