@each $magin-side, $m-value in $margin-sides {
  @each $margin, $margin-value in $margins {
    @if $magin-side == "x" {
      .m#{$magin-side}-#{$margin} {
        margin: 0 $margin-value;
      }
    } @else if $magin-side == "y" {
      .m#{$magin-side}-#{$margin} {
        margin: $margin-value 0;
      }
    } @else {
      .m#{$magin-side}-#{$margin} {
        margin-#{$m-value}: $margin-value;
      }
    }
  }
}

$pull-modes: (
  "right",
  "left"
);

@each $mode in $pull-modes {
  .pull-#{$mode} {
    float: $mode;
  }
}

// Containers

.container {
  margin: auto;
  position: relative;
  width: $page-full;
}

.container-rs {
  margin: auto;
  position: relative;
  width: $rs-page-full;
}

@mixin containers($container-padding, $page-full, $rs-page-full) {
  .container {
    padding: 0 $container-padding;
    width: $page-full;
  }

  .container-rs {
    width: $rs-page-full;
  }
}

@media screen and (max-width: map-get($breakpoints, xxlg)) {
  @include containers($container-padding-xlg, $page-xlg, $rs-page-xlg);
}
@media screen and (max-width: map-get($breakpoints, xlg)) {
  @include containers($container-padding-lg, $page-lg, $rs-page-lg);
}
@media screen and (max-width: map-get($breakpoints, lg)) {
  @include containers($container-padding-md, $page-md, $rs-page-md);
}
@media screen and (max-width: map-get($breakpoints, md)) {
  @include containers($container-padding-sm, $page-sm, $rs-page-sm);
}
@media screen and (max-width: map-get($breakpoints, sm)) {
  @include containers($container-padding-xsm, $page-xsm, $rs-page-xsm);
}
