@each $magin-side, $m-value in $margin-sides {
  @each $margin, $margin-value in $margins {
    @if $magin-side == "x" {
      .m#{$magin-side}-#{$margin} {
        margin-left: $margin-value !important;
        margin-right: $margin-value !important;
      }
      .p#{$magin-side}-#{$margin} {
        padding-left: $margin-value !important;
        padding-right: $margin-value !important;
      }
    } @else if $magin-side == "y" {
      .m#{$magin-side}-#{$margin} {
        margin-top: $margin-value !important;
        margin-bottom: $margin-value !important;
      }
      .p#{$magin-side}-#{$margin} {
        padding-top: $margin-value !important;
        padding-bottom: $margin-value !important;
      }
    } @else {
      .m#{$magin-side}-#{$margin} {
        margin-#{$m-value}: $margin-value !important;
      }
      .p#{$magin-side}-#{$margin} {
        padding-#{$m-value}: $margin-value !important;
      }
    }
  }
}

@each $breakpoint, $break-value in $breakpoints {
  @include breakpoint-in($breakpoint) {
    @each $magin-side, $m-value in $margin-sides {
      @each $margin, $margin-value in $margins {
        @if $magin-side == "x" {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin-left: $margin-value !important;
            margin-right: $margin-value !important;
          }
          .p#{$magin-side}-#{$margin}-#{$breakpoint} {
            padding-left: $margin-value !important;
            padding-right: $margin-value !important;
          }
        } @else if $magin-side == "y" {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin-top: $margin-value !important;
            margin-bottom: $margin-value !important;
          }
          .p#{$magin-side}-#{$margin}-#{$breakpoint} {
            padding-top: $margin-value !important;
            padding-bottom: $margin-value !important;
          }
        } @else {
          .m#{$magin-side}-#{$margin}-#{$breakpoint} {
            margin-#{$m-value}: $margin-value !important;
          }
          .p#{$magin-side}-#{$margin}-#{$breakpoint} {
            padding-#{$m-value}: $margin-value !important;
          }
        }
      }
    }
  }
}

@for $width from 0 through 100 {
  .w-#{$width} {
    width: percentage($width/100);
  }
}

$pull-modes: (
  "right": right,
  "left": left
);

@each $mode, $value in $pull-modes {
  .pull-#{$mode} {
    float: $value;
  }
}

// Containers

.container {
  margin: auto;
  position: relative;
  width: map-get($container-widths, 'xxxlg');
}

.container-rs {
  margin: auto;
  position: relative;
  width: map-get($container-rs-widths, 'xxxlg');
}

$keys: map-keys($breakpoints);
$map-reversed: ();

@for $i from length($keys) through 1 {
  $map-reversed: map-merge(
    $map-reversed,
    (nth($keys, $i): map-get($breakpoints, nth($keys, $i)))
  );
}

@each $breakpoint, $value in $map-reversed {
  @include breakpoint-in($breakpoint) {
    .container {
      padding: 0 map-get($container-paddings, $breakpoint);
      width: map-get($container-widths, $breakpoint);
    }

    .container-rs {
      width: map-get($container-rs-widths, $breakpoint);
    }
  }
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.shadow {
  @include shadow;
}

.shadow-float {
  @include shadow-float;
}

.no-shadow, .shadow-none {
  @include shadow-none;
}

.shadow-sm {
  @include shadow-small;
}

.shadow-sm-float {
  @include shadow-small-float;
}

.shadow-md {
  @include shadow-medium;
}

.shadow-md-float {
  @include shadow-medium-float;
}

@each $radius, $value in $border-radius {
  .box-radius-#{$radius} {
    border-radius: $value;
  }
}

.no-overflow {
  overflow: hidden !important;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

// Grows the elements inside the parent to fill remanding horizontal space
.flex-grow-items div {
  display: flex;
  flex-grow: 1;
}

// Grows the element to fill remanding horizontal space
.flex-grow {
  display: flex;
  flex-grow: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-vcenter {
  display: flex;
  align-items: center;
}
