.modal-wrapper {
  display: inline-block;

  .overlay {
    z-index: 100;
    pointer-events: none;
    transition: opacity 200ms;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
  }

  .modal {
    filter: blur(0%);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 500px;
    width: 95vw;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    @include box-medium-border;

    .modal-header {
      padding: 15px $modal-margin 10px;
      width: 100%;
      //border-bottom: 1px solid $grey-1;

      .title {
        display: inline-block;
        font-size: 18px;
      }

      .close-btn {
        margin: 4px 0;
        color: $grey-2;
        @include btn-reset;
        float: right;
        display: inline-block;
        font-size: 18px;
        height: 27px;
      }
    }

    .modal-content {
      @include font-content;
      color: $text-lightdark;
      font-weight: 300;
      padding: 0 $modal-margin;
      //border-bottom: 1px solid $grey-1;
    }

    .modal-options {
      background-color: #e6e6e6;
      padding: 15px $modal-margin;
      text-align: right;
    }
  }

  .visability {
    opacity: 1;
    pointer-events: auto;
  }
}
