.icon-pill {
  margin: 4px;
  @include shadow-small-float;
  background-color: white;
  border-radius: 100em;
  display: inline-flex;
  padding: 15px;
  font-size: 28px;
}

.pill {
  background-color: white;
  display: inline-block;
  border-radius: 100em;
  margin: 4px;
  padding: 15px 25px;
}
