$tooltip-offset: 15px;

.tooltip {
  position: relative;

  &:hover::before, &:hover::after {
    opacity: 1;
    visibility: visible;
  }

  &::before {
    white-space: nowrap;
    font-size: 14px;
    position: absolute;
    transition: 100ms;
    opacity: 0;
    visibility: hidden;
    content: attr(tooltip);
    color: $grey-4;
    background-color: $white;
    @include shadow-float;
    padding: 3px 15px;
    @include box-medium-border;
  }

  &::after {
    position: absolute;
    transition: 50ms;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    bottom: 100%;
    left: 20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
  }
}

.tooltip-bottom {
  &::before {
    position: absolute;
    bottom: calc(-100% - #{$tooltip-offset});
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    bottom: calc(-50% + 3px);
    left: 50%;
    transform: translateX(-50%);
    @include arrow-top(6px, $white);
  }
}

.tooltip-top {
  &::before {
    position: absolute;
    top: calc(-100% - #{$tooltip-offset});
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    top: calc(-50% + 2px);
    left: 50%;
    transform: translateX(-50%);
    @include arrow-down(6px, $white);
  }
}

.tooltip-left {
  &::before {
    position: absolute;
    top: 50%;
    right: calc(100% + #{$tooltip-offset});
    transform: translateY(-50%);
  }

  &::after {
    left: calc(-100% + 14px);
    top: 50%;
    transform: translateY(-50%);
    @include arrow-right(6px, $white);
  }
}

.tooltip-right {
  &::before {
    position: absolute;
    top: 50%;
    left: calc(100% + #{$tooltip-offset});
    transform: translateY(-50%);
  }

  &::after {
    left: calc(100% + 3px);
    top: 50%;
    transform: translateY(-50%);
    @include arrow-left(6px, $white);
  }
}
