table {
  overflow-x: scroll;

  tr {
    text-align: left;

    &:first-of-type {
      border-radius: 16px 16px 0 0;

      & th {
        border-radius: 8px 8px 0 0;
      }
    }

    &:last-of-type {
      border-radius: 0 0 16px 16px;

      & th {
        border-radius: 0 0 8px 8px;
      }
    }

    &:nth-of-type(even) {
      background-color: $grey-0;
    }

  }

  th {
    cursor: pointer;
    font-weight: bold;
    color: #a5bbd2;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 0.1em;

    &:hover {
      color: #899db1;
    }

    &.active {
      background-color: $grey-0;
    }
  }

  td {
    padding: 10px;
    color: #6d82b7;
    font-weight: 500;

    &.active {
      background-color: $grey-0;
    }
  }
}
