.text-nowrap {
  white-space: nowrap;
}
.text-upcase {
  text-transform: uppercase;
}
.text-lowcase {
  text-transform: lowercase;
}
.text-capcase {
  text-transform: capitalize;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-bold, .font-bold {
  @include font-weight-bold;
}
.text-semibold, .font-semibold {
  @include font-weight-semibold;
}
.text-normal, .font-normal {
  @include font-weight-normal;
}
.text-light, .font-light {
  @include font-weight-light;
}
.text-italic, .font-italic{
  font-style: italic;
}
.text-spacing {
  letter-spacing: 0.035em;
}

@each $color, $value in $colors-map {
  .color-#{$color}, .text-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $colors-map {
  .text-glow-#{$color} {
    text-shadow: 0 0 4px $value !important;
  }
}

@each $breakpoint, $value in $breakpoints {
  @each $color, $value in $colors-map {
    @include breakpoint-in ($breakpoint) {
      .color-#{$color}-#{$breakpoint}, .text-#{$color}-#{$breakpoint} {
        color: $value !important;
      }
    }
  }
}


$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
  "justify": justify
);

@each $text-align, $text-value in $text-aligns {
  @each $breakpoint, $value in $breakpoints {
    @include breakpoint-in ($breakpoint) {
      .text-#{$text-align}-#{$breakpoint} {
        text-align: $text-value;
      }
    }

  }
}

@each $item, $gradient in $gradient-map {
  .color-#{$item}-grad {
    background-image: linear-gradient(45deg, $gradient) !important;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
