// Default Fonts

body a, p, li, ul, cite, .cite, i, .i, b, .b, strong, .strong, sub, .sub, span, del, .del, abbr, .abbr, u, .u, sup, .sup, s, .s, em, .em, mark, .mark {
  line-height: 1.5em;
  font-size: 16px;
  @include font-content;
}

body h1, h2, h3, h4, h5, h6 {
  @include font-heading;
}

.font-content {
  @include font-content;
}

.font-heading {
  @include font-heading;
}

.small {
  font-size: .75em;
  padding: .15em .3em;
  background-color: #ebedf2;
  color: $text-lightdark;
  @include font-content;
  @include box-small-border;
}

h1, .h1 {
  @include heading;
  font-size: 40px;
}

h2, .h2 {
  @include heading;
  font-size: 32px;
}

h3, .h3 {
  @include heading;
  font-size: 28px;
}

h4, .h4 {
  @include heading;
  font-size: 24px;
}

h5, .h5 {
  @include heading;
  font-size: 20px;
}

h6, .h6 {
  @include heading;
  font-size: 18px;
}

code, .code {
  @include box-small-border;
  font-size: 1em;
  padding: 0em .4em;
  color: rgb(191, 34, 34);
  background-color: rgb(246, 225, 235);
}

abbr, .abbr {
  cursor: help;
}

cite {
  color: $text-light;
}

blockquote {
  color: $text-dark;
  border-left: 6px solid $blue;
  background-color: $grey-0;
  border-radius: 6px;
  padding: 1em 1em 1em 1.5em;
  margin: 16px 0;
  font-size: 18px;

  & p {
    color: $text-dark;
  }

  & cite {
    color: $text-light;
    margin-bottom: 16px;
    display: inline-block;
  }
}

kbd, .kbd {
  @include box-small-border;
  padding: .2em .8em;
  background-color: rgb(41, 54, 59);
  color: white;
}

i, .i {

}

sup, .sup {
  margin-left: .2em;
}

b, strong, .b, .strong {
}

em, .em {
  color: $text-lightdark;
}

em, .em {
  color: $text-lightdark;
}

mark, .mark {
  @include box-small-border;
  padding: .1em .4em;
  background-color: rgb(238, 219, 170);
}

pre {
  @include box-medium-border;
  padding: 25px;
  border: 2px solid rgb(181, 207, 210);
  color: white;
  background-color: rgb(27, 41, 40);
}

// Font sizing

.font-xsm {
  font-size: 12px !important;
}

.font-sm {
  font-size: 14px !important;
}

.font-md {
  font-size: 16px !important;
}

.font-lg {
  font-size: 24px !important;
}

.font-xlg {
  font-size: 32px !important;
}

.font-xxlg {
  font-size: 48px !important;
}

.font-xxxlg {
  font-size: 64px !important;
}
