// Reset the body's gaps

body {
  margin: 0;
  padding: 0;
}

// Normalize CSS

* {
  box-sizing: border-box;
}

// Main entries

@import "modules/assets/variables/_master";
@import "modules/assets/variables/_theme";
@import "modules/assets/_mixins";

// Modules

@import "modules/_typography";
@import "modules/_buttons";
@import "modules/_grid";
@import "modules/_bubbles";
