// Reset the body's gaps

body {
  margin: 0;
  padding: 0;
}

// Normalize CSS

* {
  box-sizing: border-box;
}

// Main entries

@import "modules/assets/variables";
@import "modules/assets/mixins";

// Modules

@import "modules/typography";
@import "modules/buttons";
@import "modules/grid";
