// Reset the body's gaps

body {
  margin: 0;
  padding: 0;
}

// Normalize CSS

* {
  box-sizing: border-box;
}

// Main entries

@import "assets/variables/_master";
@import "assets/variables/_theme";
@import "assets/_mixins";
@import "assets/functions/_main";
@import "_config";

// Modules

@import "modules/_normalization";
@import "modules/_typography";
@import "modules/_buttons";
@import "modules/_grid";
@import "modules/_pills";
@import "modules/_modal";
@import "modules/_layout";
@import "modules/_feathericon"; // Feather Icon Intergration
@import "modules/_bg";
@import "modules/_badges";
@import "modules/_text";
@import "modules/_dropdowns";
@import "modules/_alerts";
@import "modules/_navbar";
@import "modules/_popouts";
@import "modules/_form";
@import "modules/_accordions";
@import "modules/_progressbars";
@import "modules/_animations";
@import "modules/_cards";

// Extensions
// Custom SCSS files goes here, read documentation for details.
