$heading-margin: 4px 0 !default;

// Modals

$modal-margin: 20px;

// Buttons

$color-set-hover-intensity: 5%;
$color-set-click-intensity: 10%;
$btn-border-radius: 6px;

// Easing

$ease-swing: cubic-bezier(0.75, 0.25, 0, 1);
$ease-glide: cubic-bezier(.43,.61,.47,.98);
$ease-in: cubic-bezier(.35,.69,.49,.93);
$ease-out: cubic-bezier(.56,.24,.92,.6);

// Breakpoints

$breakpoints: (
  "xsm": 375px,
  "sm": 500px,
  "md": 750px,
  "lg": 1000px,
  "xlg": 1350px,
  "xxlg": 1500px,
  "xxxlg": 1750px
);

$container-paddings: ( // Containers padding once size is 100%
  'xsm': 6px,
  'sm': 15px,
  'md': 50px,
  'lg': 0,
  'xlg': 0,
  'xxlg': 0,
  'xxxlg': 0
);

$container-widths: (
  'xsm': 100%,
  'sm': 100%,
  'md': 100%,
  'lg': 700px,
  'xlg': 950px,
  'xxlg': 1200px,
  'xxxlg': 1350px
);

$container-rs-widths: (
  'xsm': 100%,
  'sm': 100%,
  'md': 500px,
  'lg': 650px,
  'xlg': 900px,
  'xxlg': 1000px,
  'xxxlg': 1150px
);

$margins: (
  "xlg": 75px,
  "lg": 50px,
  "md": 25px,
  "sm": 10px,
  "xsm": 10px
);

$margin-sides: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
  "x": "x-axis",
  "y": "y-axis"
);

$bright-colors: (
  "blue",
  "primary",
  "warning",
  "error"
);

$ultra-bright-colors: (
  "light",
  "neutral",
  "muted",
  "grey-1",
  "grey-2"
);
