// Base font, you can change this by defining it in your custom css

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css');

// Colors

$red-dark: #fd3a57 !default;
$red: #fb5962 !default;
$orange: #fbb258 !default;
$yellow: #d5c42c !default;
$green: #4ed69c !default;
$teal: #39ab7b !default;
$cyan: #36d5f2 !default;
$blue: #038ef5 !default;
$indigo: #791ba4 !default;
$violet: #f12d91 !default;

// Greys

$white: #fff !default;
$grey-0: #f8fbfe !default;
$grey-1: #eef1f6 !default;
$grey-2: #bdc2c6 !default;
$grey-3: #9ba0a3 !default;
$grey-4: #7d8285 !default;
$grey-5: #696e70 !default;
$grey-6: #535759 !default;
$grey-7: #3f4244 !default;
$grey-8: #2a2d2e !default;
$grey-9: #191a1b !default;
$black: #000 !default;

// Color Map

$grey-map: (
  (
    "0": $grey-0,
    "1": $grey-1,
    "2": $grey-2,
    "3": $grey-3,
    "4": $grey-4,
    "5": $grey-5,
    "6": $grey-6,
    "7": $grey-7,
    "8": $grey-8,
    "9": $grey-9
  )
);

// Main Colors

$primary: $blue !default;
$secondary: $grey-4 !default;
$success: $green !default;
$error: $red !default;
$warning: $orange !default;
$info: $cyan !default;
$light: $grey-1 !default;
$dark: $grey-8 !default;
$muted: $grey-3 !default;

$main-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "error": $error,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "neutral": $grey-0
);

$colors-map: (
  (
    // Main

    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "error": $error,
    "danger": $error,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "neutral": $grey-0,

    // Colors
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "blue": $blue,
    "purple": $indigo,
    "pink": $violet,

    // Greys
    "white": $white,
    "grey-0": $grey-0,
    "grey-1": $grey-1,
    "grey-2": $grey-2,
    "grey-3": $grey-3,
    "grey-4": $grey-4,
    "grey-5": $grey-5,
    "grey-6": $grey-6,
    "grey-7": $grey-7,
    "grey-8": $grey-8,
    "grey-9": $grey-9,
    "black": $black,

    "transparent": transparent
  )
);

$gradient-map: (
  "primary": (#1862cf, #709dff),
  "secondary": (#3b4c52, #7d8285),
  "success": (#19ae6f, #70f0b9),
  "error": (#ff1b28, #ff7078),
  "warning": ($red, $orange),
  "info": (#2ac6ff, #43f6ff),
  "light": (#dfe6e6, #f6f6f6),
  "dark": (#2a333b, #505e6b)
);

$color-text-invert: (
  "neutral",
  "warning",
  "light",
  "white",
  "grey-7",
  "grey-8",
  "grey-9"
);

$dark-colors: (
  "dark",
  "grey-9"
);

// Shadows

$float-shadow: rgba(#5d6367, 0.135) !default;
$shadow: rgba(#5d6367, 0.1) !default;

$bg-shadow-angles: (
  "top",
  "bottom"
);

// Text Colors
$text-dark: rgb(60, 65, 68) !default;
$text-lightdark: rgb(106, 115, 124)!default;
$text-light: rgb(159, 165, 171) !default;

$border-radius: (
  "xsm": 2px,
  "sm": 4px,
  "md": 8px,
  "lg": 16px,
  "xlg": 32px,
  "max": 100000000px
)
