// Border Radius Mixins

@mixin box-none-border {
  border-radius: 0px;
}

@mixin box-small-border {
  border-radius: 2px;
}

@mixin box-medium-border {
  border-radius: 4px;
}

@mixin box-large-border {
  border-radius: 12px;
}

@mixin box-full-border {
  border-radius: 5000px !important;
}

// Shadows

@mixin shadow-none {
  box-shadow: none !important;
}

@mixin shadow-small {
  box-shadow: 0 2px 6px 0 $shadow;
}

@mixin shadow-small-float {
  box-shadow: 0 2px 6px 0 $float-shadow;
}

@mixin shadow-medium {
  box-shadow: 0 6px 8px 0 $shadow;
}

@mixin shadow-medium-float {
  box-shadow: 0 6px 8px 0 $float-shadow;
}

@mixin shadow {
  box-shadow: 0 4px 6px 0 $shadow;
}

@mixin shadow-float {
  box-shadow: 0 10px 35px $float-shadow;
}

@mixin disable-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

// Button Mixins

@mixin mx-btn($value: white, $font-weight: 600) {
  border-radius: $btn-border-radius;
  position: relative;
  letter-spacing: 0.01em;
  outline: none;
  color: white;
  transition: background-color 150ms, box-shadow 150ms;
  cursor: pointer;
  border: 0px solid $value;
  box-shadow: 0 0 0 0px $value;
  font-weight: $font-weight;
  padding: 9px 20px;
  margin: 0.4em 0.2em;
  font-size: 14px;
}

@mixin btn-reset {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

// Fonts

@mixin font-heading {
  font-family: 'Poppins', sans-serif;
  color: $text-dark;
}

@mixin font-content {
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
  font-feature-settings:"lnum" 1;
  font-weight: 400;
}

@mixin font-weight-bold {
  font-weight: 700 !important;
}

@mixin font-weight-semibold {
  font-weight: 500 !important;
}

@mixin font-weight-normal {
  font-weight: 400 !important;
}

@mixin font-weight-light {
  font-weight: 300 !important;
}

// Heading Mixins

@mixin heading {
  margin: $heading-margin;
  color: $text-dark;
  font-weight: 500;
}

// Alert Mixin

@mixin alert-mixin {
  color: white;
  position: relative;
  display: flex;
  margin: 8px 0;
  padding: 10px 15px;
  @include box-medium-border;
}

@mixin breakpoint-in($breakpoint-nil) {
  @if map-has-key($breakpoints, $breakpoint-nil) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint-nil)) {
      @content;
    }
  }
}

@mixin breakpoint-out($breakpoint-nil) {
  @if map-has-key($breakpoints, $breakpoint-nil) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint-nil)) {
      @content;
    }
  }
}

@mixin breakpoint-in-raw($breakpoint-nil) {
  @media screen and (max-width: $breakpoint-nil) {
    @content;
  }
}

@mixin breakpoint-out-raw($breakpoint-nil) {
  @media screen and (min-width: $breakpoint-nil) {
    @content;
  }
}

@mixin ani($animation-name) {
  @keyframes $animation-name {
    @content;
  }
}

@mixin card($card-title) {
  .card.card-#{$card-title} {
    @content;
  }
}

// Arrows

@mixin arrow-down($size, $color) {
  border: $size solid transparent;
  border-top: $size solid $color;
}

@mixin arrow-top($size, $color) {
  border: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin arrow-left($size, $color) {
  border: $size solid transparent;
  border-right: $size solid $color;
}

@mixin arrow-right($size, $color) {
  border: $size solid transparent;
  border-left: $size solid $color;
}
