// Border Radius Mixins

@mixin box-small-border {
  border-radius: 2px;
}

@mixin box-medium-border {
  border-radius: 4px;
}

@mixin box-large-border {
  border-radius: 12px;
}

@mixin box-full-border {
  border-radius: 50px;
}

// Button Mixins

@mixin mx-btn($value) {
  @include box-medium-border;
  letter-spacing: 0.01em;
  outline: none;
  color: white;
  transition: background-color 150ms, box-shadow 150ms;
  cursor: pointer;
  border: 1px solid $value;
  box-shadow: 0 0 0 0px $value;
  font-weight: 400;
  padding: 9px 20px;
  margin: 0.4em 0.2em;
  font-size: 14px;
}

// Heading Mixins

@mixin heading {
  margin: $heading-margin;
  color: $text-dark;
  font-weight: 500;
}
