// Border Radius Mixins

@mixin box-none-border {
  border-radius: 2px;
}

@mixin box-small-border {
  border-radius: 2px;
}

@mixin box-medium-border {
  border-radius: 4px;
}

@mixin box-large-border {
  border-radius: 12px;
}

@mixin box-full-border {
  border-radius: 50px;
}

// Shadows

@mixin shadow-none {
  box-shadow: none;
}

@mixin shadow-small {
  box-shadow: 0 2px 6px 0 $shadow;
}

@mixin shadow-small-float {
  box-shadow: 0 6px 12px 0 $shadow;
}

@mixin shadow {
  box-shadow: 0 4px 6px 0 $shadow;
}

// Button Mixins

@mixin mx-btn($value) {
  @include box-medium-border;
  letter-spacing: 0.01em;
  outline: none;
  color: white;
  transition: background-color 150ms, box-shadow 150ms;
  cursor: pointer;
  border: 1px solid $value;
  box-shadow: 0 0 0 0px $value;
  font-weight: 400;
  padding: 9px 20px;
  margin: 0.4em 0.2em;
  font-size: 14px;
}

@mixin btn-reset {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

// Fonts

@mixin font-heading {
  font-family: 'Poppins', sans-serif;
  color: $text-dark;
}

@mixin font-content {
  font-family: 'Cabin', sans-serif;
}

@mixin font-weight-bold {
  font-weight: 700;
}

@mixin font-weight-normal {
  font-weight: 400;
}

@mixin font-weight-light {
  font-weight: 300;
}

// Heading Mixins

@mixin heading {
  margin: $heading-margin;
  color: $text-dark;
  font-weight: 500;
}

// Alert Mixin

@mixin alert-mixin {
  color: white;
  position: relative;
  display: flex;
  margin: 8px 0;
  padding: 10px 15px;
  @include box-medium-border;
}

@mixin breakpoint-in($breakpoint-nil) {
  @if map-has-key($breakpoints, $breakpoint-nil) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint-nil)) {
      @content;
    }
  }
}

@mixin breakpoint-out($breakpoint-nil) {
  @if map-has-key($breakpoints, $breakpoint-nil) {
    @media all and (min-width: map-get($breakpoints, $breakpoint-nil)) {
      @content
    }
  }
}
