
// Text Colors
$text-dark: #222;
$text-lightdark: #444;
$text-light: #666;
$heading-margin: 0 0 22px 0;

// Button Resets
$btn-box-min: 0;
$btn-box-size: 4px;

// Button Default
$btn-bg: rgba(221, 221, 221, 1);
$btn-box-bg: rgba(221, 221, 221, 0.5);
$btn-hvr-bg: rgba(193, 195, 196, 1);
$btn-atv-bg: rgba(154, 166, 164, 1);

// Button Primary

$btn-bg-prm: rgba(20, 128, 190, 1);
$btn-box-bg-prm: rgba(20, 128, 190, 0.5);
$btn-hvr-bg-prm: rgba(8, 103, 158, 1);
$btn-atv-bg-prm: rgba(0, 79, 125, 1);

// Button Secondary
$btn-bg-sec: rgba(93, 95, 97, 1);
$btn-box-bg-sec: rgba(93, 95, 97, 0.5);
$btn-hvr-bg-sec: rgba(61, 64, 66, 1);
$btn-atv-bg-sec: rgba(35, 36, 37, 1);

// Button Success
$btn-bg-succ: rgba(47, 156, 71, 1);
$btn-box-bg-succ: rgba(47, 156, 71, 0.5);
$btn-hvr-bg-succ: rgba(36, 126, 56, 1);
$btn-atv-bg-succ: rgba(20, 83, 34, 1);

// Button Error
$btn-bg-err: rgba(156, 47, 47, 1);
$btn-box-bg-err: rgba(156, 47, 47, 0.5);
$btn-hvr-bg-err: rgba(117, 36, 36, 1);
$btn-atv-bg-err: rgba(96, 28, 28, 1);

// Button Info
$btn-bg-info: rgba(59, 194, 190, 1);
$btn-box-bg-info: rgba(59, 194, 190, 0.5);
$btn-hvr-bg-info: rgba(38, 144, 141, 1);
$btn-atv-bg-info: rgba(29, 101, 99, 1);
