$heading-margin: 4px 0 !default;

$modal-margin: 20px;

$color-set-hover-intensity: 5%;
$color-set-click-intensity: 10%;

// Easing

$ease-swing: cubic-bezier(0.75, 0.25, 0, 1);
$ease-glide: cubic-bezier(.43,.61,.47,.98);
$ease-in: cubic-bezier(.35,.69,.49,.93);
$ease-out: cubic-bezier(.56,.24,.92,.6);

// Breakpoints

$breakpoints: (
  "xxlg": 1500px,
  "xlg": 1350px,
  "lg": 1050px,
  "md": 750px,
  "sm": 500px,
  "xsm": 375px
);

// Page size on breakpoints, rs classes = smaller page margins used for smaller navbars, headers, carousel etc.

$page-full: 1250px;
$rs-page-full: 1000px;
$page-xlg: 1200px;
$rs-page-xlg: 900px;
$page-lg: 1000px;
$rs-page-lg: 700px;
$page-md: 100%; // From here there are no page margins as the screen is already small enough
$rs-page-md: 500px;
$page-sm: 100%;
$rs-page-sm: 100%; // From here is where the rs margins end
$page-xsm: 100%;
$rs-page-xsm: 100%;

// Container padding upon breakpoint

$container-padding: 0;
$container-padding-xlg: 0;
$container-padding-lg: 0;
$container-padding-md: 50px;
$container-padding-sm: 15px;
$container-padding-xsm: 4px;

$margins: (
  "xlg": 75px,
  "lg": 50px,
  "md": 25px,
  "sm": 10px,
  "xsm": 10px
);

$margin-sides: (
  "t": "top",
  "r": "right",
  "b": "bottom",
  "l": "left",
  "x": "x-axis",
  "y": "y-axis"
);
